<h2>Products</h2>
<div class ="box">
  <select (change)="updateFilter($any($event).target.value)">
    <option value="None">None</option>
    <option value="Брендовые/сухие">Брендовые/сухие</option>
    <option value="Брендовые/свежие">Брендовые/свежие</option>
    <option value="Нишевые/сухие">Нишевые/сухие</option>
    <option value="Нишевые/свежие">Нишевые/свежие</option>
    
  </select> 
</div>

<div *ngFor="let product of filteredProducts" class="list">
  <div id="photo">
    <img [src]="product.image">
  </div>
  <h3>
    <a [title]="product.name + ' details'" [href]="product.url">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <p *ngIf="product.price">Price: {{ product.price }}</p>
  <p *ngIf="product.likes">Likes: {{ product.likes }}</p>


  <button type="button" (click)="share(product.name, product.url)">Share</button>
  <button type="button" (click)="increaseLikes(product.name)">❤️</button>
  <button type="button" (click)="deleteItem(product.id)">🗑️</button>
</div>


