h2{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 50px;
  }

img{
    width: 250px;
    height: 250px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
